<html>
   <head>
      <link href=”http://cdn.pydata.org/bokeh/release/bokeh-3.1.1.min.css
         " rel=”stylesheet” type=”text/css”>
      <link href=”http://cdn.pydata.org/bokeh/release/bokeh-widgets-3.1.1.min.css"
         rel=”stylesheet” type=”text/css”>
         <script src="https://cdn.bokeh.org/bokeh/release/bokeh-3.1.1.min.js"></script>
         <script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-3.1.1.min.js"></script>
         <script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-3.1.1.min.js"></script>
         <script src="https://cdn.bokeh.org/bokeh/release/bokeh-api-3.1.1.min.js"></script>
         <script src="https://cdn.bokeh.org/bokeh/release/bokeh-gl-3.1.1.min.js"></script>
         <script src="https://cdn.bokeh.org/bokeh/release/bokeh-mathjax-3.1.1.min.js"></script>
         </head>
   <body>
      <h1>Durham City Harriers Ranking Charts</h1>
      <form action = "" method = "get">
         {{form }}
         <input type="submit" value=Submit><br>
     </form>
     
      {{div| safe}}
      {{script| safe}}
   </body>
   
</html>


