<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
<script src="{% static 'js/script.js' %}"></script>

    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Durham City Harriers</title>
</head>
<img height = "100px" src="{% static 'media/clublogo.jpg' %}" alt="clublogo">
  <img height = "100px" src="{% static 'media/clubname.jpg' %}" alt="clubname">

<nav id='menu'>
  <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
  <ul>
    <li><a href='http://'>Home</a></li>
    <li><a class='dropdown-arrow' href='http://'>About</a>
      <ul class='sub-menus'>
        <li><a href='http://'>People</a></li>
        <li><a href='http://'>Club Awards</a></li>
        <li><a href='http://'>Club History</a></li>
        <li><a href='http://'>Club Records</a></li>
        <li><a href='http://'>Club Performance History</a></li>
      </ul>
    </li>
    <li><a class='dropdown-arrow' href='http://'>Events and Fixtures</a>
      <ul class='sub-menus'>
        <li><a href='http://'>Calendar</a></li>
        <li><a href='http://'>Road Running</a></li>
        <li><a href='http://'>Track & Fields</a></li>
        <li><a href='http://'>Cross Country</a></li>
        <li><a href='http://'>Club Events</a></li>
      </ul>
    </li>
    <li><a class='dropdown-arrow' href='http://'>Results</a>
      <ul class='sub-menus'>
        <li><a href='http://'>Recent Summary</a></li>
        <li><a href='http://'>Road Running</a></li>
        <li><a href='http://'>Track and Field</a></li>
        <li><a href='http://'>Cross Country</a></li>
        <li><a href='http://'>Club Events</a></li>
      </ul>
    </li>
    <li><a class='dropdown-arrow' href='http://'>Training</a>
      <ul class='sub-menus'>
        <li><a href='http://'>Sessions and Times</a></li>
        <li><a href='http://'>Senior Endurance Group</a></li>
        <li><a href='http://'>Junior Training</a></li>
        <li><a href='http://'>Other Options</a></li>
        <li><a href='http://'>Coaching Team</a></li>
      </ul>
    </li>
    <li><a class='dropdown-arrow' href='http://'>Membership</a>
      <ul class='sub-menus'>
        <li><a href='http://'>How to Join</a></li>
        <li><a href='http://'>Membership Renewal</a></li>
        <li><a href='http://'>Changing Clubs</a></li>
        <li><a href='http://'>Subscription Rates</a></li>
        <li><a href='http://'>Club Policies and Procedures</a></li>
        <li><a href='http://'>Club Kit</a></li>
        <li><a href='http://'>Equipment and Kit Requirements</a></li>
        <li><a href='http://'>Adverse Weather Information</a></li>
      </ul>
    </li>
  </ul>
</nav>


<body>

  <div class="grid-container">
    <div class="item1">Latest News Here</div>
    <div class="item2">Statistics Slider Here</div>
    <div class="item3">Twitter Feed Here</div>  
    <div class="item4">Main Content of the page here</div>
    <div class="item5">Club Kit Marketing here</div>
    <div class="item6">Instagram Feed Here</div>
    <div class="item7">Intro to Latest Blog Here</div>
    <div class="item8">general inforamtion</div>
  </div>
  
</body>
</html>
