<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
<script src="{% static 'js/script.js' %}"></script>

    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <title>Durham City Harriers</title>
</head>
<img height = "100px" src="{% static 'media/clublogo.jpg' %}" alt="clublogo">
  <img height = "100px" src="{% static 'media/clubname.jpg' %}" alt="clubname">

<nav class="navbar navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Durham City Harriers</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">About
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">People</a></li>
          <li><a href="#">Club Awards</a></li>
          <li><a href="#">Club History</a></li>
          <li><a href="#">Club Records</a></li>
          <li><a href="#">Club Performance History</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Events and Fixtures
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Calendars</a></li>
          <li><a href="#">Road Running</a></li>
          <li><a href="#">Track and Field</a></li>
          <li><a href="#">Cross Country</a></li>
          <li><a href="#">Club Events</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Results
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Recent Summary</a></li>
          <li><a href="#">Road Running</a></li>
          <li><a href="#">Track and Field</a></li>
          <li><a href="#">Cross Country</a></li>
          <li><a href="#">Club Events</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Training
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Sessions and Times</a></li>
          <li><a href="#">Senior Endurance Group</a></li>
          <li><a href="#">Junior Training</a></li>
          <li><a href="#">Other Options</a></li>
          <li><a href="#">Coaching Team</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Membership
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">How to Join</a></li>
          <li><a href="#">Membership Renewal</a></li>
          <li><a href="#">Changing Clubs</a></li>
          <li><a href="#">Subscription Rates</a></li>
          <li><a href="#">CLub Policies and Procedures</a></li>
          <li><a href="#">Club Kit</a></li>
          <li><a href="#">Equipment and Kit requirements</a></li>
          <li><a href="#">Adverse Weather Information</a></li>
        </ul>
      </li>

      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>


<body>
<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
    </div>
    <div class="col-sm-8 text-left">
      {% block content %}
      {% endblock %}
      
    </div>
    <div class="col-sm-2 sidenav">
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Copyright © 2023 Durham City Harriers & AC. </p>
</footer>
  
</body>
</html>
